#navbar-container {
    background-color: grey;
    width: 80%;
    height: 10vh;
    display: flex;
    flex-direction: column;
}

#navbar-container ul {
    float: left;
    display: flex;
    flex-direction: row;
}

#navbar-container ul li {
    list-style-type: none;
    padding: 10px;
}